* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background: red;
}
.card{
  border: none !important;
}
.row{
  align-items: center;
}
.subtitle{
  font-size: calc(0.8vw + 13px);
}
.container-fluid{
  background:  #F3F5FC;
}

.left-container{
  display: grid;
  gap: 2%;
}

#txt-ingresante{
height: 50vh;
background: none;
}

section{
  color: #495057;
}
span{
  font-size: 12px;
  color: Gray/gray-400;
}
.cnt_botones{
  grid-template-columns: repeat(2,1fr);
}
.buttons{
width: 90%;
height: 67px;
background: none;
border-radius: 24px;
font-size: calc(0.8vw + 9px);
border: 1px solid #0A3871;
color: #0A3871;
}
#encriptar-btn{
  background: #0A3871;
  color: #FFFFFF;
}
#desencriptar-btn:hover, #btn-copiar:hover{
background: #D8DFE8;
}
.right-container{
display: grid;
}

.card-body{
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: space-around;
}
#txt-respuesta{
  height: 35vh;
  width: 90%;
}
.texto{
  border-radius: 25px;
  border: none;
  text-align: center;
}

#btn-copiar{
  display: none;
  align-items: center;
  justify-content: center;
}
@media (min-width: 760px){
  .container-fluid{
  height: 100vh;
}
}
@media (max-width: 530px) {
h5#title-respuesta{
  font-size: calc(0.8vw + 15px);
  text-align: center;
}
.subtitle{
  font-size: calc(0.8vw + 11px);
}
#txt-respuesta{
 width: 100%;
}
}
@media (max-width: 400px) {
  img{
    width: calc(20vh + 20px)
  }
  #txt-ingresante, #txt-respuesta{
    height: 30vh;
  }
}
@media (max-width: 320px) {
  img{
    width: calc(16vh + 20px)
  }
}